<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.MwandoJrTechnologies.the_smart_parent">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/smart_parent_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/smart_parent_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".FindClinics.FindClinicsMapActivity"
            android:label="@string/title_activity_find_clinics_map"/>
        <activity android:name=".BabyProducts.RateProductsCategoryActivity" />
        <activity android:name=".BabyProducts.IndividualProductActivity" />
        <activity android:name=".BabyProducts.ProductCategory" />
        <activity android:name=".Stories.SingleStoryActivity" />
        <activity android:name=".Stories.CreateStoryActivity" />
        <activity android:name=".Stories.StoriesActivity" />
        <activity
            android:name=".BabyProducts.AddProductsActivity"
            android:parentActivityName=".BabyProducts.ViewProductsActivity" />
        <activity android:name=".BabyProducts.RateBabyProductsActivity" />
        <activity android:name=".BabyProducts.ViewProductsActivity" />
        <activity
            android:name=".GrowthAnalysis.GrowthAnalysisActivity"
            android:parentActivityName=".NewsFeed.MainActivity" />
        <activity
            android:name=".Chats.AllChatMessagesActivity"
            android:parentActivityName=".NewsFeed.MainActivity" />
        <activity
            android:name=".Chats.SearchOtherParentsActivity"
            android:parentActivityName=".NewsFeed.MainActivity" />
        <activity android:name=".Profile.ProfileSettingsActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity
            android:name=".Reminders.AddRemindersActivity"
            android:parentActivityName=".Reminders.RemindersActivity" />
        <activity android:name=".Reminders.RemindersActivity" />
        <activity
            android:name=".Chats.ChatActivity"
            android:parentActivityName=".NewsFeed.MainActivity" />
        <activity android:name=".Profile.OtherParentsProfileActivity" />
        <activity android:name=".Profile.ProfileActivity" />
        <activity android:name=".Profile.ResetPasswordActivity" />
        <activity android:name=".NewsFeed.CommentsActivity" />
        <activity android:name=".NewsFeed.ClickPostActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".Profile.LoginActivity" />
        <activity android:name=".Profile.RegisterActivity" />
        <activity android:name=".NewsFeed.MainActivity" />
        <activity
            android:name=".NewsFeed.WriteQueryActivity"
            android:parentActivityName=".NewsFeed.MainActivity" />
        <activity android:name=".Profile.EditProfileActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- /for reminders -->
        <provider
            android:name=".Reminders.data.AlarmReminderProvider"
            android:authorities="com.delaroystudios.alarmreminder"
            android:exported="false" />

        <service
            android:name=".Reminders.reminder.ReminderAlarmService"
            android:exported="false" />
    </application>

</manifest>